sample output.json
{
  "name": "AI Email Classifier & Auto Logger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "7316444b-759f-4e1e-ab67-fa8f8593704e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wb5GiI90GiuPTeR2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c48b3e2-4c93-4714-ab81-d5183be1b7b7",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "825066d6-845d-49b2-9550-a1f7176c7f08",
              "name": "Sender",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "7775ec69-7fbf-4105-a268-a93d3af5dd9e",
              "name": "Body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "c2f98e65-fa48-4009-801f-e23dd432d52c",
              "name": "Date",
              "value": "={{$now.format('yyyy-MM-dd HH:mm')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0d5345fd-e7ab-4317-9bae-a15a6e1a51e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Subject:\n{{$json.Subject}}\n\nSender:\n{{$json.Sender}}\n\nBody:\n{{$json.Body}}\n\nAnalyze this email.\n\nReturn JSON.\n\n{\n\"category\":\"\",\n\"priority\":\"\",\n\"important\":true,\n\"summary\":\"\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "You are an AI Email Classifier.  Classify every email into one category only.  Categories:  Job Application Work Personal Finance Security Alert Shopping Newsletter Spam Promotion  Determine if the email is important.  Return ONLY valid JSON.  Do not include markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "d798599d-efd3-4c48-9179-3ccd5d80363e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "p6aCPHm0mKzknowX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5518864435",
        "text": "=📧 Important Email Received   \n📌 Subject: {{ $json.Subject }} \n👤 From: {{ $json.Sender }} \n📂 Category: {{ $json.Category }} \n⭐ Priority: {{$json.Priority}}   \n📝 Summary: {{$json.Summary}}   \n📅 Received: {{ $json.Date }}   \n🤖 Classified automatically by n8n + Google Gemini.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        -96
      ],
      "id": "f6d86070-0e1d-480a-baec-aa019a445213",
      "name": "Send a text message",
      "webhookId": "d2f88dd0-3982-443c-9138-a4f35da93685",
      "credentials": {
        "telegramApi": {
          "id": "kUd25Bv4WYtIWhFV",
          "name": "AI Email Classifier & Auto Logger"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4",
          "mode": "list",
          "cachedResultName": "AI Email Classifier & Auto Logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Important",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now.format('yyyy-MM-dd HH:mm')}}",
            "Priority": "={{ $json.priority }}",
            "Subject": "={{$('Edit Fields').item.json.Subject}}",
            "Sender": "={{ $('Edit Fields').item.json.Sender }}",
            "Category": "={{ $('Parser').item.json.category }}",
            "Summary": "={{ $('Parser').item.json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -96
      ],
      "id": "376d362e-1b2f-436b-8ced-e350392890fe",
      "name": "Important Emails",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtNupNmEU4VCVfOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4",
          "mode": "list",
          "cachedResultName": "AI Email Classifier & Auto Logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 45846502,
          "mode": "list",
          "cachedResultName": "Not Important",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1snUu5398VCUsX5znGgz8AJ84xlEo_Wc1o-wYBELleK4/edit#gid=45846502"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        96
      ],
      "id": "a825cdbb-19ea-453c-9e7d-553bd9e75e0a",
      "name": "Not Important",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtNupNmEU4VCVfOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5830c5e4-03da-4b5d-8fa7-0017e136d546",
              "leftValue": "={{$json.important}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        0
      ],
      "id": "aed79071-2aeb-45da-9993-5f17d8fdce05",
      "name": "Define about Emails Direction"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.content.parts[0].text;\n\ntry {\n  const parsed = JSON.parse(response);\n\n  return [\n    {\n      json: parsed\n    }\n  ];\n} catch (error) {\n  throw new Error(\"AI did not return valid JSON.\\n\\nResponse:\\n\" + response);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "79f7e151-8cd4-420f-b117-4ba9729288f7",
      "name": "Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Important Emails": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define about Emails Direction": {
      "main": [
        [
          {
            "node": "Important Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Important",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Define about Emails Direction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fdac8059-167a-4955-a97a-8a70c97c51f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8109642ab6846a9cf1618de304921f5663481ec8cdaee6a52dd360d6de75a743"
  },
  "id": "NrPPYYes7pTDOow3",
  "tags": []
}